
.secondaryPage .search-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}


.secondaryPage .description {
  font-size: 1.5rem;
}

.secondaryPage form {
  width: 100%;
}


.secondaryPage .inputWithButton {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.secondaryPage .buttonWithGear {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* results */

.secondaryPage .resultsScreen {
  margin: 1rem 0;
}

.secondaryPage .resultsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  flex-direction: column;
  align-items: center;
}

.secondaryPage .results {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.secondaryPage .resultTextArea {
  resize: both;
  color: black;
}

.secondaryPage .mrna-preview {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.secondaryPage .result {
  max-width: 400px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.secondaryPage .resultTitle {
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .secondaryPage .description {
    font-size: medium;
  }

  .secondaryPage .search-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    
  }
  .secondaryPage .inputWithButton {
    display: flex;
    flex-direction: column;
  }

  .secondaryPage .submit-button {
    width: 100%;
  }
}