.minesweeperPage .cell {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .minesweeperPage .row {
  display: flex;
  flex-direction: row;
} */

.minesweeperPage .cell-button {
  width: 100%;
  height: 100%;
}

/* .minesweeperPage .parent {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minesweeperPage .container {
  display: flex;
  flex-direction: column;
  width: auto;
} */

.minesweeperPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.minesweeperPage .game {
  width: fit-content;
}
  
  .minesweeperPage .game-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 0 1rem 0; 
}

.minesweeperPage .game-control {
  width: 33%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.minesweeperPage .reset-button {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 0.7rem;
  background-color: white;
  color: black;
}

.minesweeperPage .menu-item {
  padding: 0.5rem
}

.minesweeperPage .menu-input {
margin-left: 0.5rem;
background-color: #fcfcfc;
width: 50%;
}

@media screen and (max-width: 500px) {
  .minesweeperPage .cell {
    font-size: xx-small;
  }
}


  @media screen and (max-width: 1000px) {
  .minesweeperPage .game {
    width: 100%;
  }
    .minesweeperPage .cell {
      min-width: 0.5rem;
      min-height: 0.5rem;
      width: auto;
      height: auto;
      font-size: smaller;
      margin: 0.2rem;
  }

}