.type-lookup.main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.type-lookup.subheader {
  font-size: 1.5rem;
  grid-column: span 4;
  padding-top: 0.5rem;
}

.type-lookup.buttonArr {
  display: flex;
  flex-direction: row;
}

.type-lookup.text {
  padding: 2rem 0;
}

ul.type-lookup.unorderedList {
  padding-left: 40px;
  list-style-type: circle;
  padding-top: 0;
}

.type-lookup.text {
  display: inline;
}

.type-lookup.emoji {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .type-lookup.buttonArr {
    display: flex;
    flex-direction: column;
  }
}