

.blogLoginPage .links {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 30%;
  z-index: 10;
}



.blogLoginPage .main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.blogLoginPage #button {
  padding-top: 1rem;
}

.blogLoginPage input {
  margin-right: 10px;
  color: black;
}


@media screen and (max-width: 1000px) {
  .blogLoginPage .submit-button {
    width: 100%;
  }
    .blogLoginPage .links {
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 6rem;
  }

  .blogLoginPage input {
    width: 100%;
  }

}