.blogLoginPage .container {
  padding: 8rem 8rem;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.blogLoginPage .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 30%;
  z-index: 10;
}



.blogLoginPage .main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.blogLoginPage #button {
  padding-top: 1rem;
}

.blogLoginPage input {
  margin-right: 10px;
  color: black;
}


@media screen and (max-width: 1000px) {
  .blogLoginPage .container {
    max-width: 100%;
    padding: 8rem 2rem;
    display: flex;
    justify-content: center;
  }

  .links {
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding-top: 6rem;
  }

  .blogLoginPage input {
    width: 100%;
  }

}