.fuelPricesPage .table {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fuelPricesPage .column {
  display: flex;
  flex-direction: column;
}

.fuelPricesPage .cell {
  padding: 1rem;
}

.fuelPricesPage .header {
  font-weight: 500;
  font-size: 1.fuelPricesPage .5rem;
}

.fuelPricesPage .chart {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 2000px;
  width: 100%;
  overflow: visible;
}


@media screen and (max-width: 1000px) {
  .fuelPricesPage .table {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .fuelPricesPage .chart {
    width: 100%;
  }
  .fuelPricesPage .column {
    flex-direction: row;
    justify-content: space-between;
  }
}