.fuelPricesPage .screen {
  padding-top: 5rem;
}

.fuelPricesPage .table {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fuelPricesPage .column {
  display: flex;
  flex-direction: column;
}

.fuelPricesPage .cell {
  padding: 1rem;
}

.fuelPricesPage .header {
  font-weight: 500;
  font-size: 1.fuelPricesPage .5rem;
}

.fuelPricesPage .chart {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 2000px;
  width: 40%;
  overflow: visible;
}

.fuelPricesPage .table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .fuelPricesPage .table {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .fuelPricesPage .chart {
    width: 80%;
  }
}