.blogCreatePage .container {
  padding: 8rem 8rem;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.blogCreatePage .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 30%;
  z-index: 10;
}

.blogCreatePage #form-container {
  width: 100%;
  max-width: 500px;
}

.blogCreatePage #post {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blogCreatePage textarea {
  height: 350px;
  resize: none;
}

.blogCreatePage .field {
  width: 100%;
  margin: 1rem 0;
  color: black;
}

.blogCreatePage .main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.blogCreatePage #button {
  padding-top: 1rem;
}

.blogCreatePage input {
  margin-right: 10px;
  color: black;
}


@media screen and (max-width: 1000px) {
  .blogCreatePage .container {
    padding: 8rem 2rem;
  }

  .blogCreatePage input {
    width: 100%;
  }

}