.randomBioPage .container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.randomBioPage .search-continer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.randomBioPage .description {
  text-align: center;
}

.randomBioPage form {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
}

.randomBioPage .single {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.randomBioPage .type {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.randomBioPage .length {
  display: flex;
  flex-direction: column;
  
}
.randomBioPage #length {
  color: black;
  /* ml-2 bg-gray-100 rounded w-1/2 */
}



.randomBioPage .resultsScreen {
  padding-top: 6rem;
  height: 100vh;
}

.randomBioPage .searchArea {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.randomBioPage .resultsCenter {
  display: flex;
  justify-content: center;
}

.randomBioPage .resultsContainer {
  padding-top: 2rem;
}

textarea {
  color: black;
  resize: both;
  width: 866px;
  height: 300px;
}


@media screen and (max-width: 1000px) {
  form {
    padding: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 1rem;
  }
  .searchArea {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .search-continer {
    width: 50%;
  }

  textarea {
    width: 80%;
    height: 300px;
  }
  .resultsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}