/** 
@tailwind base;
@tailwind components;
@tailwind utilities;
 **/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');
body {
  margin: 0;
}
html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}
* {
    font-family: 'Ubuntu Mono', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: red; */
    /* background: radial-gradient(
        rgba(255, 255, 255, 0.2) 8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin; */
}

  **, ::before, ::after {
	box-sizing: border-box;
	border-width: 0;
  border: none;
  /**
	border-style: solid;
	border-color: #e5e7eb;
  **/
}

a {
	color: inherit;
  text-decoration: none;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
  border: 0;
}
