.blogHomePage .container {
  padding: 8rem 8rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.blogHomePage .links {
  width: 100%
}

.blogHomePage .main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.blogHomePage .category {
  padding-bottom: 1rem;
  width: 100%;
}

.blogHomePage .category p {
  font-size: x-large;
}

.blogHomePage .posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blogHomePage input {
  color: black;
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
}

.blogHomePage .search {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .blogHomePage .container {
    padding: 8rem 2rem;
  }

}