.container {
  padding: 8rem 8rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.links {
  width: 100%
}

.main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.category {
  padding-bottom: 1rem;
  width: 100%;
}

.category p {
  font-size: x-large;
}

.post-detail {
  width: 100%;
  text-align: center;
  margin: 5px;
}

.post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 8rem 2rem;
  }

}