
.forumHomePage .links {
  width: 900px;
}

.forumHomePage .main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.forumHomePage .category {
  padding-bottom: 1rem;
  width: 100%;
}

.forumHomePage .category p {
  font-size: x-large;
}

.forumHomePage .posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forumHomePage .search {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .forumHomePage .links {
    width: 100%
  }
}