.tictactoePage .parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tictactoePage .grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.125rem;
  background-color: #374151;
  margin: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 0.25rem;
  border-width: 2px;
  height: 500px;
  width: 500px;
}

.tictactoePage .sub-parent {
  height: fit-content;
}

.tictactoePage .modal-container {
display: flex;
justify-content: center;
margin-top: 1.25rem;
}

.tictactoePage .modal-menu {
  padding-left: 0.5rem;
  width: 100%;
}

.tictactoePage .label {
  padding-left: 0.5rem;
}

.tictactoePage .grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border-width: 2px;
  border-style: solid;
  /* background-color: white; */
}

.tictactoePage .grid-button:hover {
  background-color: #d0d0d0;
  border-radius: 0.5rem;
  opacity: 50%;
}

.tictactoePage .grid-button {
  padding: 1.25rem 1rem 1.25rem 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.tictactoePage .scoreboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 0.2rem;
}

.tictactoePage .scoreboard-item {
  padding: 1.25rem;
  font-size: larger;
}

.tictactoePage .scoreboard-item-right {
  text-align: right;
}

.tictactoePage .scoreboard-item-left {
  text-align: left;
}

.tictactoePage .scoreboard-button {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  border-radius: 0.7rem;
  background-color: white;
  color: black;
}

.tictactoePage .scoreboard-button:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 1000px) {
  .tictactoePage .grid {
    height: 95vw;
    width: 95vw;
  }
}