
/* .aboutPage #render {
  position: fixed;
  left: 70%;
  top: 10%;
  z-index: 1;
}

.aboutPage #test {
  font-size: x-small;
} */

/* .aboutPage .nucleotide {
  font-size: x-small;
} */

.aboutPage .render {
  /* display: none; */
  font-size: xx-small;
  font-family: "Fixedsys", "Courier New", Courier, mono, serif;
}


@media screen and (max-width: 1000px) {

}