

.seqAlignPage .search-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.seqAlignPage .searchBoxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.seqAlignPage form {
  width: 100%;
}

.seqAlignPage .inputLabel {
  padding-right: 0.8rem;
  padding-left: 5px;
  width: fit-content;
  background-color: white;
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  white-space: nowrap;
  padding-top: 3px;
}

.seqAlignPage .description {
  white-space: wrap;
  font-size: 1.5rem;
}

.seqAlignPage .inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.seqAlignPage .buttonWithGear {
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* results */


.seqAlignPage .resultsScreen {
  padding-top: 5rem;
  margin-bottom: 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.seqAlignPage .resultsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.seqAlignPage .results {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.seqAlignPage .resultTextArea {
  resize: both;
  color: black;
}

.seqAlignPage .mrna-preview {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.seqAlignPage .result {
  max-width: 400px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

}

.seqAlignPage .resultBody {
  font-family: monospace; 
}

.seqAlignPage .seqAlignPage .resultTitle {
  font-weight: 500;
}
.seqAlignPage textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  color: black;
}

@media screen and (max-width: 1000px) {
  .seqAlignPage textarea.resultBody {
    width: 80%;
  }

  .seqAlignPage .search-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    
  }
  .seqAlignPage .inputWithButton {
    display: flex;
    flex-direction: column;
  }
  .seqAlignPage .submit-button {
    width: 100%;
  }
  .seqAlignPage .resultsScreen {
    width: 100%;
  }
  .seqAlignPage .resultsContainer {
    width: 100%;
  }
  .seqAlignPage .results {
    display: flex;
    justify-content: center;
  }
}