.contactPage .inputWithButton {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem
}

.contactPage .submit-button {
  width: auto;;
  display: flex;
  flex-direction: row;
}


.contactPage .search-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}


.contactPage .status {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .contactPage .inputWithButton {
    flex-wrap: wrap;
  }
  .contactPage .submit-button {
    padding-top: 10px;
    align-items: center;
  }

  .contactPage .status {
    width: fit-content;
  }
}