.blogUserPage .container {
  padding: 8rem 8rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.blogUserPage .links {
  width: 100%
}

.blogUserPage .main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.blogUserPage .category {
  padding-bottom: 1rem;
  width: 100%;
}

.blogUserPage .category p {
  font-size: x-large;
}

.blogUserPage .posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .blogUserPage .container {
    padding: 8rem 2rem;
  }

}