.forumPostViewPage .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 30%;
  z-index: 10;
}

.forumPostViewPage #form-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.forumPostViewPage textarea {
  height: 350px;
  resize: none;
}

.forumPostViewPage .field {
  width: 100%;
  color: white;
}

.forumPostViewPage .title {
  font-size: 3rem;
}

.forumPostViewPage #button {
  padding-top: 1rem;
}

.forumPostViewPage input {
  margin-right: 10px;
  color: black;
}

.forumPostViewPage .row {
  display: flex;
}

.forumPostViewPage .body {
  margin-top: 10px;
  padding: 10px 15px;
  border-width: 2px;
  border-radius: 10px;
}

.forumPostViewPage .metadata {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .forumPostViewPage input {
    width: 100%;
  }

}