{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<div id='log_table'>
<table id='log_table' width=90% align="left">
<tr>
<th style='text-align: left;'>Datetime:</strong></th>
<th style='text-align: left;'>IP: </th>
<th style='text-align: left;'>Page: </th>
</tr>
{% for filler in data[::-1] %}
<tr>
<td>{{ filler['Date']['$date'] }}</td>
<td><a href='https://whatismyipaddress.com/ip/{{ filler['ip'] }}'>{{ filler['ip'] }}</a></td>
<td>{{ filler['page'] }}</td>
</tr>
{% endfor %}
{% endblock %}
