{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}

<div>
{{ pred_str }}
</div>

<div id='secondary_stack1' class='column'>
<form action='/secondary/' method='POST'>

<table style='width:100%'>
<td valign='top' align='left'>
<h3>Input format</h3>
<input type='radio' id='inputtype1' name='inputtype' value='s' checked='checked'>
<label for='inputtype1'>Singe-letter AA's</label><br>
<input type='radio' id='inputtype2' name='inputtype' value='t'>
<label for='inputtype2'>Triple-letter AA's</label><br>
</td>

<td valign='top' align='left'>
<h3>Detection threshold</h3>
<input type='radio' id='detectthreshold1' name='detectthreshold' value=3 checked>
<label for='detectthreshold1'>3 +'ve propensities</label><br>
<input type='radio' id='detectthreshold2' name='detectthreshold' value=4>
<label for='detectthreshold2'>4 +'ve propensities</label><br>
</td>

<td valign='top' align='left'>
<h3>Leniency</h3>
<input type='radio' id='leniency1' name='leniency' value=4>
<label for='leniency1'>1</label><br>
<input type='radio' id='leniency2' name='leniency' value=3 checked>
<label for='leniency2'>2</label><br>
<input type='radio' id='leniency3' name='leniency' value=2>
<label for='leniency3'>3</label><br>
</td>
</table>

<div id='secondary_aas'>
<h2>Amino acid sequence: </h2>
<textarea id='aa_field_id' name='aa_field_id' rows='10' cols='55' placeholder='Input Field: ffff'>{{ aa_field }}</textarea>
<br>
<!-- Cant display list view?-->
<br>
<input type='submit' value='Calculate'>
</form>
</div>
</div>

<div id='secondary_stack2' class='column'>
<div id='secondary_ahr'>
<h2>Alpha helix raw propensity data:</h2>
<textarea id='ahr_field_id' name='ahr' rows='10' cols='55' disabled='disabled'>{{ ahr_field }}</textarea>
</div>

<div id='secondary_bsr'>
<h2>Beta-pleated sheet raw propensity data:</h2>
<textarea id='bsr_field_id' name='bsr' rows='10' cols='55' disabled='disabled'>{{ bsr_field }}</textarea> 
</div>
</div>

<div id='secondary_stack3' class='column'>
<div id='secondary_ahl'>
<h2>Alpha helix location(s):</h2>
<textarea id='ahl_field_id' name='ahl' rows='10' cols='55' disabled='disabled'>{{ ahl_field }}</textarea>
</div>

<div id='secondary_bsl'>
<h2>Beta-pleated sheet location(s):</h2>
<textarea id='bsl_field_id' name='bsl' rows='10' cols='55' disabled='disabled'>{{ bsl_field }}</textarea>
</div>
</div>
<div id='secondary_footer' class='footer'>
{{ pred_str }}
<hr>
<p><a href='https://www.ncbi.nlm.nih.gov/gene/'>Gene sequence database</a></p>
<p><a href='/mrna'>Amino acid decoder</a></p>
<p>Chen, H., Gu, F. & Huang, Z. Improved Chou-Fasman method for protein secondary structure prediction. BMC Bioinformatics 7, S14 (2006). https://doi.org/10.1186/1471-2105-7-S4-S14</p>
</div>
{% endblock %}
