{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}

<div>
<p><a href='https://biopython.org/'>Powered by biopython</a></p>
</div>

<div id='seqalign_stack1' class='column'>
<form action='/seqalign/' method='POST'>
<div id='seqalign_sample'>
<h2>Sample sequence: </h2>
<textarea id='sampletxt' name='sampletxt' rows='10' cols='55'>{{ sampletxt }}</textarea>
</div>
<div id='seqalign_ref'>
<h2>Reference sequence:</h2>
<textarea id='referencetxt' name='referencetxt' rows='10' cols='55'>{{ referencetxt }}</textarea>
</div>
</div>

<div id='seqalign_stack2' class='column'>
<p><strong>Parameters</strong></p>
<input type='radio' id='inputtype' name='inputtype' value='s' checked>
<label for='inputtype'>Singe-letter AA's</label><br>
<table style='width:50%'>
<tr>
<td><p>Identical characters get a score of:</p><td>
<td><input type='text' id='identical' name='identical' value=1></td>
</tr>
<tr>
<td><p>Mismatch characters have a score of:</p><td>
<td><input type='text' id='mismatch' name='mismatch' value=0></td>
</tr>
<tr>
<td><p>Open gap penalties: </p><td>
<td><input type='text' id='gaps' name='gaps' value=-0.5></td>
</tr>
<tr>
<td><p>Extend gap penalties: </p><td>
<td><input type='text' id='extgaps' name='extgaps' value=-0.1></td>
</tr>
</table>
</div>
<div id='seqalign_bttn' class='columan'>
<input type='submit' value='Compare'>
</div>
</form>

{% endblock %}
