<!doctype HTML>
<html>
    <head>
	    <title>Heatmap</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDROeSdismW-58lHEMYXTDXLXzKRg_DSOQ&callback=initMap&libraries=visualization&v=weekly"
            defer
        ></script>
        <script>alert('Sensitivity: $200k (blue) to $2m (red)');</script>
        <style type="text/css">
            #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
       }
        </style>
    </head>
    <script>
async function initMap() {
    data = JSON.parse('{{data | tojson | safe}}')
    let map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: { lat: -37.8, lng: 144.9 },
    mapTypeId: "roadmap",
  });
  let infoWindow;
  let loc;
  //infoWindow = new google.maps.InfoWindow();
  data.data.forEach(function(block) {
    loc = new google.maps.Polygon({
      paths: block.bounds,
      strokeColor: "#FF",
      strokeOpacity: 0.4,
      strokeWeight: 0.8,
      fillColor: `#${block.colour}`,
      fillOpacity: 0.60,
    });
    loc.setMap(map);
    loc.addListener("click", function(e) {
      console.log(block.suburb);
      //window.location.replace(`${block.suburb}`);
      //infoWindow.setContent('block');
      //infoWindow.setPosition(event.latLng);
      //infoWindow.open(map);
      });

  })

}

    </script>
    <body>
	    <div id="map"></div>
    </body>
</html>
