.siteAnalysis .canvasInfo {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.siteAnalysis .usersThis svg {
  width: 50%;
}

    .siteAnalysis .usersThis {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;
}

.siteAnalysis .userPageInfo {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.siteAnalysis .userPageInfo table {
  width: 70%;
}

.siteAnalysis .h1 {
  font-size: x-large;
}

.siteAnalysis .h2 {
  font-size: large;
}