body{
	font-family: Arial;
}

img {
	max-width: 700px;
	width: 100%;
	height: auto;
}



/* Style the header */
.header {
background: #66ccff;
//height:50px;

}


/* The grid container */
.grid-container {
display: grid;
grid-template-areas: 
'header header header header header header' 
'left middle middle middle middle right' 
'footer footer footer footer footer footer';
} 

/* grid-column-gap: 10px; - if you want gap between the columns */
.left,
.middle,
.right {
padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 30%;
	padding: 10px;
}

/* Create three equal columns that floats next to each other */
.dual-column {
	float: left;
	width: 45%;
	padding: 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";display: table;
	clear: both;
}

/* Style the footer */
.footer {
	bottom:0px;
	width:100%;
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
	clear:both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1300px) {
.column {
	width: 100%;
}
}

@media (max-width: 1300px) {
.dual-column {
	width: 100%;
}
}

/* Style the left column */
.left {
	grid-area: left;
}

  /* Style the middle column */
.middle {
	grid-area: middle;
}

    /* Style the right column */
.right {
	grid-area: right;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
@media (max-width: 600px) {
.grid-container  {
grid-template-areas: 
'header header header header header header' 
'left left left left left left' 
'middle middle middle middle middle middle' 
'right right right right right right' 
'footer footer footer footer footer footer';
}
}
*/

.h3 {
	
}

#heading-container {
	//position: relative;
	//top: 0px;
	//width: 100%;
	height: 50px;
	//border-width: 1px;
	//border-style:solid;
	//border-color:blue;
	background: #66ccff;
	//text-align: bottom;
	//float: top;
	padding: 15px;
	color: #fff;
	border-bottom: 3px solid #eee;
	border-left: 3px solid #eee;
}

#home {
	//position:absolute;
	//float:left;
	//bottom: 40%;
	//left: 2%;
}

#heading {
	//position:relative;
	//text-align: center;
	///margin-left: auto;
	///margin-right: auto;
	//margin-top: -18px;
	//width:80%;
	//float:center;
	//bottom: 15px;
	letter-spacing: 2px;
	color:#fff;
	text-align:center;
}

#container {
	//position: relative;
	//margin: auto;
	//margin-left: auto;
	//margin-right: auto;
	//float: center;
	//padding: 15px;
	
}

#content-container {
	position: relative;
	margin: auto;
	background-color: #ffffff;
	width: 98%;
	height: 98%;
	margin-left: auto;
	margin-right: auto;
	float: center;
	padding: 15px;
}

#menu {
	float: left;
}

#menu1 {

	padding: 10px; 
	border-radius: 25px;
	background-color: #92DDF4;
}


#menu2 {
	padding: 10px; 
	border-radius: 25px;
	background-color: #92DDF4;
	width: 310px;
}

#menu3 {
	padding: 10px; 
	border-radius: 25px;
	background-color: #92DDF4;
}

#python_logo {
	float: right;
	right:10%;
	position:relative;
	width: 10%;
	height: 10%;
}

#flask_logo {
	float: right;
	right: 20%;
	position:relative;
	width:8%;
	height:8%;
}


#fuel_wrapper {
	//width:100%;
	//position:relative;
}

#fuel_table {
	//float: left;
	height:450px;
	overflow:auto;  
	//margin-top:40px;
}

#fuel_images {
	//padding: 40px;
	//float: right;
}

#fuel_img1 {
	//float: top;
	//right: 10%;
}

#fuel_img1 {
	//float: bottom;
	//right: 10%;
}

#decode_container {
	//position: relative;
}	

#decode_dna {
	//position: relative;
	//float: left;
	//display: block;
	//display: inline-block;
	//top: 0;
	//right: 0%;
}

#decode_stack1 {
	//position: relative;
	//display: inline-block;
	//top: 0;
	//float: left;
	//left: 20%;
}

#decode_stack2 {
	//position: relative;
	//display: block;
	//display: inline-block;
	//float: right;
	//top: 0;
	//left: 0;
}

#decode_cdna {
}
#decode_cmrna {
}
#decode_aap {
}
#decode_aas {
}
#decode_stats {
}

#prop_tabled {
        //position: relative;
	//float: right;
	//top: 50px;
	//right: 5%;
}
#prop_filesd {
	//position: static;
	//float: left;
	clear: both;
	//right: 20px;
	//bottom: 5%;
}

#prop_hist {
        //position: relative;
	//float: left;	
}

#secondary_stack1 {
	//position: relative;
	//float: left;
	//display: block;
	//display: inline-block;
	//width: 420px;
	//height: 120px;
	//top: 0;
	//right: 0%;
}

#secondary_stack2 {
	//position: relative;
	//display: block;
	//display: inline-block;
	//float: left;
	//width: 420px;
	//height: 120px;
	/top: 0;
	//left: 10%;
}

#secondary_stack3 {
	/position: relative;
	//display: block;
	//display: inline-block;
	//float: right;
	//width: 420px;
	//height: 120px;
	//top: 0;
	//left: 0;
}

#secondary_footer {
	clear: both;
}

#secondary_ahr {
}
#secondary_bsr {
}
#secondary_ahl {
}
#secondary_bsl {
}


#secondary_main {
}

#seqalign_stack1 {
}
#seqalign_stack2 {
}
#seqalign_seqalign_sample {
}
#seqalign_seqalign_ref {
}

