.hamburger {
}

.hamburger .icon {
  width: 5rem;
  height: 5rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 7px;
  border-top-left-radius: 0;
}

.hamburger .hamburger-icon {
  font-size: xx-large;
}

.hamburger .hover-effect {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 90%;
  height: 90%;
  border-radius: 10px;
  border-top-left-radius: 0;
  transition: 0.2s;
}

.hamburger .hover-effect:hover {
  /* transform: scale(1.5); */
  background-color: rgba(255, 255, 255, 0.30);
}



.hamburger .links {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0.5rem;
  height: 0;
  transition: height 1.5s ease-in-out;
}

.links.open {
  height: fit-content;
}

@media screen and (max-width: 1000px) {
  .hamburger .links {
    width: 100%;
    padding-bottom: 1rem;
  }
}
