.heatmap {
  /* --cell-dims: 15px; */
  /* --table-heading: 200px; */
  padding: 1rem;
  border-radius: var(--cell-dims);
  border-top-left-radius: var(--table-heading);
  padding-top: var(--table-heading);
}

.heatmap .row {
  display: flex;
  align-items: center;
}

.heatmap .header{
  text-align: end;
}
  
  .heatmap .rotated{
  transform: rotate(270deg);
  width: var(--cell-dims);
  height: var(--cell-dims);
  white-space: nowrap;
}

.heatmap .header {
  height: var(--cell-dims);
  width: var(--table-heading);
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
}
.heatmap .col {
  text-align: right;
  width: auto;
}

.heatmap .cell {
  width: var(--cell-dims);
  height: var(--cell-dims);
  /* padding: 5px; */
  border-radius: 5px;
  /* border: solid black 1px */
}