.post-details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-radius: 10px;
  border-color: white;
  padding: 1rem;
  border-width: 1px;
}

.post-details .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.post-details .title {
  font-size: x-large;
  margin-bottom: -0.5rem;
}

.post-details .sub-title {
  font-size: small;
}

@media screen and (max-width: 1000px) {

}