
.forumCreatePage .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 30%;
  z-index: 10;
}

.forumCreatePage #form-container {
  width: 100%;
  max-width: 500px;
}

.forumCreatePage #post {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.forumCreatePage .main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.forumCreatePage #button {
  padding-top: 1rem;
}



@media screen and (max-width: 1000px) {

}