.forumLoginPage .links {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 30%;
  z-index: 10;
}

.forumLoginPage .main-heading {
  font-size: 3rem;
  padding-bottom: 25px;
}

.forumLoginPage #button {
  padding-top: 1rem;
}

.forumLoginPage .modal-wrapper {
  width: 30%;
  height: 50%;
  overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
  .forumLoginPage .submit-button {
    width: 100%;
  }
    .forumLoginPage .links {
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 6rem;
  }
}