
.mrnaPage .search-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}


.mrnaPage .description {
  white-space: wrap;
  font-size: 1.5rem;
}


.mrnaPage .inputWithButton {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.mrnaPage form {
width: 100%;
}

.mrnaPage .button {
  width: fit-content;
}

/* results */

.mrnaPage .analysisContainer {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-between;
}

.mrnaPage .resultsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mrnaPage .statsContainer {
  justify-content: center;

}

.mrnaPage .resultsCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mrnaPage .searchArea {
  margin-bottom: 10px;
}

.mrnaPage .result {
  width: 300px;
  padding: 1rem;
}

.mrnaPage textarea {
  color: black;
}

@media screen and (max-width: 1000px) {
  .mrnaPage .form {
    max-width: 500px;
  }
  .mrnaPage .search-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    
  }
  .mrnaPage .inputWithButton {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .mrnaPage .submit-button {
    width: 100%;
  }


  .mrnaPage .analysisContainer {
    width: auto;
    justify-content: center;
  }
  .mrnaPage .result {
    width: auto;
    max-width: 300px;
  }

  .mrnaPage .paddingCell {
    width: 300px;
  }
}