.modal {
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  justify-content: center;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
  width: fit-content;
}

.actions {
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  cursor:pointer;
  text-align: center;
}

.close {
  position: relative;
  top: 0;
  left: 0;
  padding: 1rem 1rem 0 1rem;
  cursor:pointer;
}

.smallText {
  padding: 0 2rem 1rem 2rem;
}

.div {
  cursor:pointer;
}