/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
