.buttonRedir {
  width: 16rem;
  margin: 3px;
  padding: 20px;
  /* align-items: flex-end; */
  border-radius: 7px;
  /* text-align: center; */
}

.ButtonRedir.container {
  max-width: fit-content;
  width: fit-content;
}

.buttonRedir:hover {
  background-image: linear-gradient(to right, rgb(219 234 254), #f3e8ff);
  color: black;
}

@media screen and (max-width: 1000px) {
  div.buttonRedir {
    width: 99%;
  }
  div.ButtonRedir.container {
    width: 100%;
    max-width: 100%;
  }
}