.buttonRedir {
  width: 16rem;
  margin: 3px;
  padding: 20px;
  /* align-items: flex-end; */
  border-radius: 7px;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  overflow-x: hidden;
}

.ButtonRedir.container {
  max-width: fit-content;
  width: fit-content;
}

.ButtonRedir .data {
  white-space: nowrap;

}

.buttonRedir img  {
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(86deg) brightness(118%) contrast(119%);
  /* filter: brightness(100%) saturate(0%) */
  max-width: 60%;
}

.buttonRedir:hover {
  background-image: linear-gradient(to right, rgb(219 234 254), #f3e8ff);
  color: black;
}

@media screen and (max-width: 1000px) {
  div.buttonRedir {
    width: 98.5%;
  }
  div.ButtonRedir.container {
    width: 100%;
    max-width: 100%;
  }
}