#Radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;

}



#Radio-container input {
  /* width: 100%; */
  color: black;
  background-color: white;
  /* border-radius: 10px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 10px;
  flex-shrink: 0;
}